body {
  margin: 2rem;
  padding: 2rem;
  font-family: "Microsoft JhengHei";
  color: #613030;
}

a:link {
  color: #C48888;
}

a:visited {
  color: #804040;
}

a:active {
  color: #c78a8a;
}

.left {
  display: block;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 300;

}

.top {
  display: block;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 500;

}

.rtitle {
  line-height: 35px;
  font-weight: 300;
  text-align: center;
  list-style-type: square;
  margin: 20px;
  text-indent: 50px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 20px auto;
  border: 2px solid #e6b8b8;
}


.icon {
  display: block;
  margin: 20px auto 10px auto;
  width: 70px;
  height: auto;
}

.line {
  border-top: 2px solid white;
}

.line2 {
  border-top: 1px solid white;
}

.block {
  background-color: #e5d4d4;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}


body {
  font-family: sans-serif;
  background-color: #af5d5eb2;
  margin: 0px 1rem;
}

h1 {
  color: white;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: .75rem;
}

.my-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0px;
  column-gap: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.box {
  padding: 2rem;
  width: 600px;
  background-color: rgb(238, 231, 226);
  border-radius: 8px;


}

.box1 {
  padding: 2rem;
  width: 600px;
  background-color: rgb(238, 231, 226);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-row {
  padding-bottom: 1rem !important;
}

.msg-box {
  padding: 1rem;
  width: 800px;
  height: 400px;
  background-color: rgb(238, 231, 226);
  border-radius: 8px 8px 0px 0px;
  position: fixed;
  bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.msg {
  background-color: rgb(217, 167, 186);
  color: rgb(226, 228, 238);
  font-size: 1.1rem;
  margin: 0rem;
  padding: .5rem;
  border-radius: .25rem;
  flex: 1;
  overflow: auto;
}

.context {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: .75rem;
  color: rgb(82, 51, 51);
}

.f-label {
  display: inline-block;
  margin-bottom: .5rem;
}


.f-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #604040;
  background-color: white;
  border: 1px solid #dacece;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin: .25rem .125rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: rgb(89, 51, 51);
  color: #fff;
  font-size: 1rem;
  min-width: 100px;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
  background-color: rgb(112, 67, 67);
}


.context-msg {
  float: left;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: .75rem;
  color: rgb(167, 118, 118);
}

.btn-right {
  float: right;
  margin: .25rem .125rem;
  padding: .375rem .75rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: rgb(98, 50, 50);
  background-color: transparent;
  color: rgb(173, 95, 54);
  font-size: .75rem;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-right:hover {
  background-color: rgb(192, 86, 79);
  color: #fedddd;
}
